.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 50vh;
}

.description h1 {
  margin: 3rem;
  align-items: center;
  text-align: center;
}

.description p {
  position: relative;
  margin: 3rem;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  text-align: center;
}
